<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/rest.jpg" alt="...">
        </div>
        <div class="col-sm-7 col-md-7">
            <h1>Checkout</h1>
            <p class = brief>Top Caters Ltd has hired you to create an order management system for their new 100 seat restaurant on Paul Street. The system should handle day to day purchases in the restaurant and save this data. 
</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <p class="lead">Menu items are presented in a grid, ordered by category. The cashier enters the order and proceeds to the checkout.</p>
        </div>
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/menu.png" alt="...">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/specials.png" alt="...">
        </div>
        <div class="col-sm-7 col-md-7">
            
            <p class = lead>The manager can add new items and edit the prices of these items. They simply have to press one of the buttons shown and a dialog will appear allowing them to enter the new item and it's price. We used the design metaphor of buttons to allow the manager to quickly and intuitively add items to the menu. All new specials are saved to the database, so they will appear when the next cashier signs in.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
       
        <div class="col-sm-7 col-md-7">
            <p class = "lead">Data related to items, orders and employees is persisted in an embedded Apache Derby Database.</p>
        </div>
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/derby.png" alt="...">
        </div>
    </div>


    


    <!--   <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h3 class="featurette-heading">Entree. </h3>
              <p class="lead">A restaurant application built in Java, adapted for the web</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="../images/rest.jpg" alt="...">
            </div>
        </div> -->
</div>