<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/stairs.jpg" alt="...">
        </div>
        <div class="col-sm-7 col-md-7">
            <h1>IS2215 Electrical</h1>
            <p class="brief">IS2215 Electrical is a full service electrical contracting business based in Cork County. Due to the nature of the work much of the administration of electrical jobs is performed at the IS2215 Electrical Headquarters in White Gate. The documentation produced is typically paper-based. Currently, IS2215 Electrical do not have a database or any content management system. The back-office is predominately Microsoft Windows and MS Office based. Contractors have access to Windows-based, 3G enabled tablets. All engineers have their own smartphones which are a mix of Apple, Android and Windows mobile operating systems. The director of IS2215 Electrical, Bill Power, wishes to eliminate some of the time consuming paper work and allow the workers to fill out forms digitally on-site using tablets or mobile phones. He believes that the Risk Assessment Form would represent a good pilot study for the transition from paper to electronic documentation.</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        
        <div class="col-sm-7 col-md-7">
            <p class="lead">Engineers enter details on-site using a tablet device.
        </div>

        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/installation.png" alt="...">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/mats.png" alt="...">
        </div>
        <div class="col-sm-7 col-md-7">
            <p class="lead">The engineer can record as many expenses as they need - a single Risk Assessment object contains an array of materials objects and an array of labour objects.</p>
            <p></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <p class="lead">The application uses the data to create a Microsoft Word document. The user can then save this document to the local device or attach it to an email.</p>
        </div>
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/inst.png" alt="...">
        </div>
    </div>
  
    <!--   <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h3 class="featurette-heading">Entree. </h3>
              <p class="lead">A restaurant application built in Java, adapted for the web</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="../images/rest.jpg" alt="...">
            </div>
        </div> -->
</div>