
<div class="container-fluid">
    <div class="row featurette">
        <div class="col-xs-12 col-sm-7 col-md-7">
            <h3 class="featurette-heading">IS2215 Electrical</h3>
            <p class="lead">A quality control application for engineers, built in Visual Basic .NET, featuring integration with Microsoft Word.</p>
            <p> <a ng-href="#/is2215" class="hidden-xs btn btn-default btn-lg" span = "text-center " role="button">See More</a> </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
            <img class="featurette-image img-responsive center-block" src="images/stairs.jpg" alt="...">
        </div>
    </div>
    <div class="visible-xs col-md-4 text-center">
        
        <p class="visible-xs col-md-4 text-center"><a ng-href="#/is2215" class="btn btn-lg btn-default" role="button">See More</a> </p>
    </div>
</div>
<hr class="featurette-divider">
<!-- 

          <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h3 class="featurette-heading">Entree. </h3>
              <p class="lead">A restaurant application built in Java, adapted for the web</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="../images/rest.jpg" alt="...">
            </div>
        </div> -->
<div class="container-fluid">
    <!-- toggle alignment based on screen -->
    <h3 class="hidden-xs">See my other projects...</h3>
    <!-- centered for small screen -->
    <h3 class="visible-xs col-md-4 text-center">See my other projects...</h3>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="images/rest.jpg" alt="...">
                <div class="caption">
                    <h3>Checkout</h3>
                    <p>An order management system for a restaurant, designed in Java using the Swing UI Framework.</p>
                    <p class="hidden-xs"><a ng-href="#/checkout" class="btn btn-default btn-block" role="button">See More</a> </p>
                    <p class="visible-xs col-md-4 text-center"><a ng-href="#/checkout" class="btn btn-lg btn-default" role="button">See More</a> </p>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="../images/stairs.jpg" alt="...">
                <div class="caption">
                    <br>
                    <h3>IS2215 Electrical</h3>
                    <p>A quality control application for engineers, built in Visual Basic .NET, featuring integration with Microsoft Word.</p>
                    <p class="hidden-xs"><a ng-href="#/is2215" class="btn btn-default btn-block" role="button">See More</a> </p>
                    <p class="visible-xs col-md-4 text-center"><a ng-href="#/is2215" class="btn btn-default btn-lg" role="button">See More</a> </p>
                </div>
            </div>
        </div> -->
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="images/tree.jpg" alt="...">
                <div class="caption">
                    <h3>Ranked.ie</h3>
                    <p>A proof of concept application for a forum database.</p>
                    <p class="hidden-xs"><a ng-href="#/ranked" class="btn btn-default btn-block" role="button">See More</a> </p>
                    <p class="visible-xs col-md-4 text-center"><a ng-href="#/ranked" class="btn btn-default btn-lg" role="button">See More</a> </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="thumbnail">
                <img src="images/truck.jpg" alt="...">
                <div class="caption">
                    <h3>Speedy Deliveries</h3>
                    <p>A desktop application for a delivery business designed in Visual Basic .NET.</p>
                    <p class="hidden-xs"><a ng-href="#/speedy" class="btn btn-default btn-block" role="button">See More</a> </p>
                    <p class="visible-xs col-md-4 text-center"><a ng-href="#/speedy" class="btn btn-default btn-lg" role="button">See More</a> </p>
                </div>
            </div>
        </div>
    </div>

