<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/tree.jpg" alt="...">
        </div>
        <div class="col-sm-7 col-md-7">
            <h1>Ranked.ie</h1>
            <p class="brief">Ranked.ie is an online forum where members can add, read, rate and comment on articles. Each article has a topic. A user can write multiple articles and make multiple comments. Users can also be curators. Complaints about content are made to curators, who may remove content as necessary.
            </p>
            <p class="brief">
                Create a data model for this system. Then create a Microsoft Access database to demonstrate that data model.
            </p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <p class="lead">A suitable database model (Entity Relationship Diagram) was designed using UML, with the following assumptions:</p>
            <p>
                <ul class="sub-lead">
                    <li>An article can only be written under one topic
                    </li>
                    <li>
                        Curators can only handle one topic
                    </li>
                    <li>User can be several curators</li>
                    <li>Administrator is the person to accept/reject curator applications</li>
                    <li>Administrator is able to delete/create topics</li>
                    <li>A topic doesn’t need a curator</li>
                </ul>
            </p>
        </div>
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/erd4.png" alt="...">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/accdb.png" alt="...">
        </div>
        <div class="col-sm-7 col-md-7">
            <p class="lead">This table was then recreated in Microsoft Access.</p>
            <p></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-7 col-md-7">
            <p class="lead ">A prototype application was created using Microsoft Access Forms. Users can add comments and view other comments on an article.</p>
        </div>
        <div class="col-sm-5 col-md-5">
            <img class=" img-responsive center-block" src="images/article.png" alt="...">
        </div>
    </div>
   <!--  <hr class="featurette-divider">
    <a ng-href="#/main">
        <button class="btn btn-large btn-default">Go Back</button>
    </a> -->
    <!--   <hr class="featurette-divider">

          <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
              <h3 class="featurette-heading">Entree. </h3>
              <p class="lead">A restaurant application built in Java, adapted for the web</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="../images/rest.jpg" alt="...">
            </div>
        </div> -->
</div>